In [2]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [5]:
#Lets create a new series
ser1 = Series([1,2,3,4],index=['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [10]:
#Call reindex to rearrange the data to a new index
ser2 = ser1.reindex(['A','B','C','D','E','F'])

In [11]:
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [12]:
ser2 = ser1.reindex(['A','B','C','D','E','F'], method='ffill')

In [14]:
ser2

A    1
B    2
C    3
D    4
E    4
F    4
dtype: int64

In [16]:
#Using a particular method for filling values
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])

#Show
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [17]:
#Can use a forward fill for interploating values vetween indices 
ser3.reindex(range(15),method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [18]:
#Reindexing rows, columns or both

#Lets make a dataframe with some random values
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

#Show
dframe

       col1      col2      col3      col4      col5
A  1.053129  2.064258  2.005483  1.264843 -0.127972
B  0.777293 -0.049232  0.910506  0.438948  2.092842
D  0.485394 -1.298339 -0.301803 -0.838295 -0.355232
E -1.004693 -0.788642  1.304835 -1.186214 -0.610380
F -0.953302 -1.869921  1.568874  1.213504 -2.198615

In [20]:
#Notice we forgot 'C' , lets reindex it into dframe, adding new row with index 'C'
dframe2 = dframe.reindex(['A','B','C','D','E','F'])  
dframe2

       col1      col2      col3      col4      col5
A  1.053129  2.064258  2.005483  1.264843 -0.127972
B  0.777293 -0.049232  0.910506  0.438948  2.092842
C       NaN       NaN       NaN       NaN       NaN
D  0.485394 -1.298339 -0.301803 -0.838295 -0.355232
E -1.004693 -0.788642  1.304835 -1.186214 -0.610380
F -0.953302 -1.869921  1.568874  1.213504 -2.198615

In [38]:
#Can also explicitly reindex columns
new_columns = ['col1','col2','col3','col4','col5','col6']  #col6 is new column being added.

print dframe2.reindex(columns=new_columns)   #Here new object is created and needs to be catched, original dframe2 is unchanged.E

       col1      col2      col3      col4      col5  col6
A  1.053129  2.064258  2.005483  1.264843 -0.127972   NaN
B  0.777293 -0.049232  0.910506  0.438948  2.092842   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D  0.485394 -1.298339 -0.301803 -0.838295 -0.355232   NaN
E -1.004693 -0.788642  1.304835 -1.186214 -0.610380   NaN
F -0.953302 -1.869921  1.568874  1.213504 -2.198615   NaN