In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series

In [2]:
#Let's make a dframe
dframe = DataFrame({'k1':['X','X','Y','Y','Z'],
                    'k2':['alpha','beta','alpha','beta','alpha'],
                    'dataset1':np.random.randn(5),
                    'dataset2':np.random.randn(5)})

#Show
dframe

   dataset1  dataset2 k1     k2
0 -1.309481 -0.674856  X  alpha
1 -0.430767  0.046352  X   beta
2 -1.211960 -0.653196  Y  alpha
3  0.490666 -0.917436  Y   beta
4  1.714392  0.482720  Z  alpha

In [13]:
#Now let's see how to use groupby

#Lets grab the dataset1 column and group it by the k1 key
group1 = dframe['dataset1'].groupby(dframe['k1'])

#Show the groupby object
group1

In [14]:
#Now we can perform operations on this particular group
group1.mean()

k1
X   -0.870124
Y   -0.360647
Z    1.714392
Name: dataset1, dtype: float64

In [15]:
# We can use group keys that are series as well

#For example:

#We'll make some arrays for use as keys
cities = np.array(['NY','LA','LA','NY','NY'])
month = np.array(['JAN','FEB','JAN','FEB','JAN'])

#Now using the data from dataset1, group the means by city and month
dframe['dataset1'].groupby([cities,month]).mean()

LA  FEB   -0.430767
    JAN   -1.211960
NY  FEB    0.490666
    JAN    0.202455
Name: dataset1, dtype: float64

In [16]:
# let's see the original dframe again.
dframe

   dataset1  dataset2 k1     k2
0 -1.309481 -0.674856  X  alpha
1 -0.430767  0.046352  X   beta
2 -1.211960 -0.653196  Y  alpha
3  0.490666 -0.917436  Y   beta
4  1.714392  0.482720  Z  alpha

In [22]:
# WE can also pass column names as group keys
dframe.groupby('k1')['dataset1'].mean()

k1
X   -0.870124
Y   -0.360647
Z    1.714392
Name: dataset1, dtype: float64

In [23]:
# WE can also pass column names as group keys
dframe['dataset1'].groupby(dframe['k1']).mean()

k1
X   -0.870124
Y   -0.360647
Z    1.714392
Name: dataset1, dtype: float64

In [24]:
# Another useful groupby method is getting the group sizes
dframe.groupby(['k1']).size()

k1
X    2
Y    2
Z    1
dtype: int64

In [25]:
# We can also iterate over groups

#For example:
for name,group in dframe.groupby('k1'):
    print "This is the %s group" %name
    print group
    print '\n'

This is the X group
   dataset1  dataset2 k1     k2
0 -1.309481 -0.674856  X  alpha
1 -0.430767  0.046352  X   beta


This is the Y group
   dataset1  dataset2 k1     k2
2 -1.211960 -0.653196  Y  alpha
3  0.490666 -0.917436  Y   beta


This is the Z group
   dataset1  dataset2 k1     k2
4  1.714392   0.48272  Z  alpha

In [26]:
# We can also iterate with multiple keys
for (k1,k2) , group in dframe.groupby(['k1','k2']):
    print "Key1 = %s Key2 = %s" %(k1,k2)
    print group
    print '\n'

Key1 = X Key2 = alpha
   dataset1  dataset2 k1     k2
0 -1.309481 -0.674856  X  alpha


Key1 = X Key2 = beta
   dataset1  dataset2 k1    k2
1 -0.430767  0.046352  X  beta


Key1 = Y Key2 = alpha
   dataset1  dataset2 k1     k2
2  -1.21196 -0.653196  Y  alpha


Key1 = Y Key2 = beta
   dataset1  dataset2 k1    k2
3  0.490666 -0.917436  Y  beta


Key1 = Z Key2 = alpha
   dataset1  dataset2 k1     k2
4  1.714392   0.48272  Z  alpha

In [46]:
# A possibly useful tactic is creating a dictionary of the data pieces 
group_dict = dict(list(dframe.groupby('k1')))

#Show the group with X
group_dict['X']

   dataset1  dataset2 k1     k2
0 -1.309481 -0.674856  X  alpha
1 -0.430767  0.046352  X   beta

In [55]:
# We could have also chosen to do this with axis = 1

# Let's creat a dictionary for dtypes of objects!
group_dict_axis1 = dict(list(dframe.groupby(dframe.dtypes,axis=1)))

#show
group_dict_axis1

{dtype('float64'):    dataset1  dataset2
 0 -1.309481 -0.674856
 1 -0.430767  0.046352
 2 -1.211960 -0.653196
 3  0.490666 -0.917436
 4  1.714392  0.482720, dtype('O'):   k1     k2
 0  X  alpha
 1  X   beta
 2  Y  alpha
 3  Y   beta
 4  Z  alpha}

In [56]:
# For example if we only wanted to group the dataset2 column with both sets of keys
dataset2_group = dframe.groupby(['k1','k2'])[['dataset2']]

dataset2_group.mean()

          dataset2
k1 k2
X  alpha -0.674856
   beta   0.046352
Y  alpha -0.653196
   beta  -0.917436
Z  alpha  0.482720